 <footer class="credits reveal">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            Projeto conceitual desenvolvido por <a class="link-rodape" href="https://github.com/Cayo13y" target="_blank">Cayo B.Gomes</a>.<br>
                            Feito para fins educacionais e portfólio.
                        </p>
                    </div>
                </div>
            </div>
        </footer>