<input type="checkbox" id="menu-toggle">

    <label for="menu-toggle" class="menu-button">
        <span class="bar top"></span>
        <span class="bar middle"></span>
        <span class="bar bottom"></span>
        <div class="side-line"></div>
    </label>

    <aside>
        <div class="aside-section aside-left"></div>

        <div class="aside-section aside-right">
            <ul class="aside-list">
                <li data-number="01"><a href="index.html" data-i18n="nav.intro">Introdução</a></li>
                <li data-number="02"><a href="#" data-i18n="nav.historia">História</a></li>
                <li data-number="03"><a href="#" data-i18n="nav.personagens">Personagens</a></li>
                <li data-number="04"><a href="#" data-i18n="nav.trilha">Trilha Sonora</a></li>
                <li data-number="05"><a href="#" data-i18n="nav.autor">Autor</a></li>
                <li data-number="06"><a href="#" data-i18n="nav.sistema">Sistema de Poder</a></li>
            </ul>

            <div class="menu-background-image">
                <img src="assets/images/gon_menu.png" alt="Gon Freecss">
            </div>
        </div>
    </aside>